
@{
    ViewBag.Title = "ShowOneEmployeeName";
}

@*<h2>@ViewBag.name</h2>*@

<div>
    @*//Not Working//*@
    @*@foreach (var employee in Model.)
        {
            <p> @employee.Name</p>
            <p> @employee.LastName</p>
            <p> @employee.YearOfBirth</p>
            <p> @employee.PhoneNumber</p>

        }*@

    @*@Model.Name
    @Model.LastName
    @Model.YearOfBirth
    @Model.PhoneNumber*@

</div>


