
@{
    ViewBag.Title = "ShowOneSupervisorName";
}

<h2>ShowOneSupervisorName</h2>
<div>
    @*@foreach (var item in Model)
        {
            <p>@item.Name</p>
            <p>@item.LastName</p>
            <p>@item.YearOfBirth</p>
            <p>@item.TimeOfWork</p>

        }*@

    @*<p>@Model.Name</p>
    <p>@Model.LastName</p>
    <p>@Model.YearOfBirth</p>
    <p>@Model.TimeOfWork</p>*@
</div>

